<!-- Product -->
<div class="shop-product hover-shadow">
    <div class="shop-product_labels">
        <% if (status === 'NEW') {%>
            <span class="label is-green-light">New</span>
        <%} else if (status === 'HOT') {%>
            <span class="label is-purple-light">Hot</span>
        <%} else if (status === 'OUT_OF_STOCK') {%>
            <span class="label is-grey">Out of Stock</span>
        <%} else if (status === 'SALE_OFF') {%>
            <span class="label is-red-light">Sale</span>
        <% } %>
    </div>
    <div class="shop-product_photo">
        <a href="/product/<%= id %>">
            <span class="aspect-ratio is-1x1">
                <img class="aspect-ratio_object lazyload" src="<%= thumbnailUrl %>"alt="Product Name">
            </span>
        </a>
    </div>
    <div class="shop-product_content">
        <div class="shop-product_body">
            <div class="shop-product_title">
                <a href="/product/<%= id%>"><%= name%></a>
            </div>
            <div class="shop-product_rating">
                <span class="rating">
                    <span class="icon is-star-outline"></span>
                    <span class="icon is-star-outline"></span>
                    <span class="icon is-star-outline"></span>
                    <span class="icon is-star-outline"></span>
                    <span class="icon is-star-outline"></span>
                    <span class="rating_rate" style="width:80%;">
                        <% for(let i = 0; i < rating; i++) { %>
                            <span class="icon is-star"></span>
                        <%}%>
                    </span>
                </span>
            </div>
        </div>
        <div class="shop-product_footer">
            <div class="shop-product_prices">
                <% if (oldPrice) {%>
                    <span class="shop-product2_prices_old"> <%= currencyFormatDE(oldPrice)%></span>
                <%}%>
                <span class="shop-product_prices_current"><%= currencyFormatDE(price)%></span>
            </div>
            <div class="shop-product_actions">
                <a class="shop-product_actions_item" href="#" title="Add to Cart"><span class="icon is-cart"></span></a>
                <a class="shop-product_actions_item" href="#" title="Quick View"><span class="icon is-view"></span></a>
                <a class="shop-product_actions_item" href="#" title="Add to Wishlist"><span class="icon is-heart"></span></a>
                <a class="shop-product_actions_item" href="#" title="Compare"><span class="icon is-exchange"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->