<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/loading.ejs') %>
    <%- include('../partials/header.ejs') %>
    <!-- body -->
    <%- include('../components/home/slider.ejs') %>
    <%- include('../components/home/featuredProducts.ejs') %>
    <%- include('../components/home/caption.ejs') %>

    <!-- end body -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>